<h1>Artist Listings</h1>

<% @artists.each do |artist| %>
<li><%= artist.name %> | <%= link_to 'View Songs', artist_songs_path(artist) %> | <%= link_to 'Add Song', new_artist_song_path(artist) %> | <%= link_to 'Edit', edit_label_artist_path(@label, artist) %> | <%= link_to 'Delete', label_artist_path(@label, artist),
						method: :delete, data: { confirm: 'Are you sure?' } %></li>
<% end %>
<p><%= link_to 'Add New Artist', new_label_artist_path %></p>
<p>
<%= link_to 'Back', labels_path %>
</p>
