<h1>New Song</h1>

<%= simple_form_for(@song, html: {:class => 'form-horizontal'} ) do |f| %>
	<p><%= f.input :title, label: false, input_html: {:class => 'form-control', placeholder: "Title"} %>
	<%= f.association :artist %></p>
	<p><%= f.submit "Submit".html_safe, :class => 'btn btn-lg btn-success' %> </p>
<% end %>

<p>
<%= link_to 'Back', artist_songs_path(@artist) %>
</p>
